<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <center>
    <br><br><br>
    <p>自動化講習　10000円</p>
    <br>
    <a href="https://note.com/i_like_ai/n/n75070925802a"  target="_blank">詳細</a>

    <br><br><br>
    <p>受講希望の方は<a href="https://twitter.com/neoneet_ai"  target="_blank">@neoneet_ai</a>にDMください</p>
    <br><br><br>

    <a href="/">back</a>

  </center>
</body>
</html>
