<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <center>
    <br><br><br>
    <h1>@neoneet_ai</h1>
    <p>
      大学３年生までは人材ビジネスをメインでやっていたが、コロナで人材ビジネスがつぶれてしまい、pythonを始めた。
    </p>
    <br>
    <p>
      その後9か月間、家に引きこもり1日14時間くらいpythonをやっていた。
    </p>
    <br>
    <p>
      2021年の4月に外資系のコンサル会社に就職したが、当時友人と一緒にやっていた「仮想通貨自動売買システム」や「AMAZONbot」の開発が忙しすぎて、「会社行ってる場合じゃないな」と思い新人研修が終わる7月末に退職。
    </p>
    <br>
    <p>
      8月下旬にNFT自動購入botを開発し、9月は月収400万円、10月は月収300万円を達成。（通常の裁量トレードも同時並行）
    </p>
    <br>
    <p>
      11月「自分はこれ以上金を稼いでも幸せになれないのではないか」と思い一度マネーゲームから降りる。自分には「仲間」がいないから幸福度が低いのではないかと考え、仲間を作ることにした。
    </p>
    <br>
    <p>
      12-1月は仲間を集める期間となった。かなりたくさんの人と会い、共同ビジネスをいくつも並行してやった。
    </p>
    <br>
    <p>
      2月は共にビジネスをする仲間も固まり、今から金を稼ぐという段階になったが、「自分がもうプログラミングに対して熱意を失ってしまっている」ことに気づく。原因は恐らく、「成長している感覚」が無くなったからである。
    </p>
    <br>
    <p>
      その後大学時代一緒に人材ビジネスをしていた仲間と再会し、再び「人材マインド」に火が付いた。
    </p>
    <br>
    <p>
      3月はインカレサークルを立ち上げ、大量に学生を集客しようと考えている。
    </p>
    <br>
    <!-- <p>
      ３月は「対人」の月となった。ストナンやネトナンで女の子を大量に集客し、その女の子たちに学生を集客させた。彼らを自分が作ったインカレサークルに入れ、100人規模のサークルに育てることに成功した。
    </p>
    <br>
    <p>
      また、「テック飯」というイベントを3度開催し、優秀なエンジニアたちも集客した。彼らには自分の後継者になってもらいたいと思っている。
    </p>
    <br>
    <p>
      「最強の仲間」、「100人規模の組織」、「優秀なエンジニア部隊」の3つを手に入れた自分にもはや不可能はない。これからの快進撃に乞うご期待。
    </p>
    <br><br><br> -->

    <a href="/">back</a>


  </center>
</body>

</html>
