<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <center>
    <p>表示されるまで数秒かかります</p>

    {% for user_twitter in users_twitter %}
    <blockquote class="twitter-tweet">
      <a href="{{user_twitter}}"></blockquote>
       <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    {% endfor %}


    <br><br><br>

    <a href="/">back</a>
  </center>
</body>
</html>
